html{
    background-color: #302b2b;
    margin: 0;
}
body{
    margin: 0;
}
.content{
    display:flex;
    flex-direction: row;
    width: 100%;
    height:70%;

}
.main-form{
    margin-top:20px;
    position:relative;
    padding:0;
}
.main-form {

    width:45%;
    margin:auto;
    max-width:960px;
    height:550px;
    border-radius:5px;
    box-shadow: 0px 0px 5px 2px gray;
    background-color:white;
    text-align:center;
    align-self: start;
}
.login-form{
    width:15%;
    height:100px;
    border-radius:5px;
    box-shadow: 0px 0px 5px 2px gray;
    background-color:white;
    margin-right: 20px;
    align-self: start;
    padding:20px;
    margin-top:25px;
}
.message{
    display:flex;
    flex-direction: column;
    width:100%;
    height:50px;
    color:white;
    align-items: center;
    background-color: #828282;
    margin-bottom: 25px;
}
.error{
    color:red;
    font-size: 9px;
}
.success{
    margin-top:15px;
}