html{
    background-color: #302b2b;
    margin: 0;
}
body{
    margin: 0;
}

.content{
    display:flex;
    flex-direction: row;
    width: 100%;
    height:70%;
    align-items: center;
}
.login-form{
    width:15%;
    height:100px;
    align-self: center;
    border-radius:5px;
    box-shadow: 0px 0px 5px 2px gray;
    background-color:white;
    margin-right: 20px;
    align-self: start;
    padding:20px;
    margin-top:25px;
}