html{
    background-color: #302b2b;
    margin: 0;
}
body{
    margin: 0;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: chocolate;
    width:100%;
    height:100px;
    color: lavenderblush;
    font-family: Arial;
    font-weight: lighter;
    font-style: normal;
    font-size: 17px;
}
.button-container{
    margin-top:20px;
    display:flex;
    flex-direction: column;
    width:100%;
    height:50px;
    align-items: center;
}
.add-button{
    width:150px;
    height:40px;
    border-radius:20px;
    background:#459DE5;
    color:#fff;
    font-size:18px;
    cursor:pointer;
}
